{% extends '_base.html' %}

{% block title %} 
    {% if user.is_authenticated %}
        {{user.username}}
    {% else %}
        Profile 
    {% endif %}
{%endblock title %}

{% block content %}


<h3 class='pt-2'>{{user.username}}</h3>

<p>  
  {% if user.bio %}
    {{user.bio}}
    <br>
  {% endif %}
</p>

  <div><a class="btn btn-primary btn-sm " href="{% url 'edit_profile' user.id %}" > Edit profile </a></div>
  <div class="my-2"><a class="btn btn-light btn-sm " href="{% url 'add_book' %}"> Add Book</a></div>

  {% if not books %}
    <div class="d-flex justify-content-center">
      <h4>There is no book in your profile</h4>
    </div>
  {% else %}
   
    <!-- {% include '_pagination.html' %} -->
    {% include '_books.html' %}
  {% endif %} 

{% endblock content %}