{% extends '_base.html' %}

{% block title %} 
    {% if user.is_authenticated %}
        {{user.username}}
    {% else %}
        Profile 
    {% endif %}
{%endblock title %}

{% block content %}


<h3 class='pt-2'>{{user.username}}</h3>

<p>  
  {% if user.bio %}
    {{user.bio}}
    <br>
  {% endif %}
</p>
<div class='row my-3'>
  <div class= 'col-4 d-flex justify-content-start'>
    <div><a class="btn btn-primary btn-sm " href="{% url 'edit_profile' user.id %}" > Edit profile </a></div>
  </div>
  <div class= 'col-4 d-flex justify-content-center'>
    <div><a class="btn btn-light btn-sm " href="{% url 'add_book' %}"> Add Book</a></div>
  </div>
  <div class= 'col-4 d-flex justify-content-end'>
    <div><a  class="btn btn-danger btn-sm" href="{% url 'logout' %}">Log  out  </a></div>
  </div>
  
</div>


  {% if not books %}
    <div class="d-flex justify-content-center">
      <h4>There is no book in your profile</h4>
    </div>
  {% else %}
    <div class="d-flex justify-content-center">
    <form class="form-inline mt-2 mb-2 mt-md-0 w-100" action="{% url 'search_results' %}" method= 'get'>
        <input name='f' type='hidden' value='my_profile' >
        <input name='user' type='hidden' value="{{user.username}}" >
        <input name='q' class="form-control mr-sm-2 "  type="text" placeholder='Search book in your profile' aria-label='Search'>
    </form>
    </div>
    {% include '_pagination.html' %}
    {% include '_post_card.html' %}
  {% endif %} 

{% endblock content %}