{% extends '_base.html' %}
 {% block title %} {{profile_user.username}} {%endblock title %}
 {% block content %}

      <h3 class='pt-2'>{{profile_user.username}}</h3>
      <p>  
        {% if profile_user.bio %}
          {{profile_user.bio}}
          <br>
        {% endif %}
      </p>

 {% if not books %}
  <div class="d-flex justify-content-center">
    <h4>There is no book in this profile</h4>
  </div>
  {% else %}
    <!-- {% include '_pagination.html' %} -->
    {% include '_books.html' %}
  {% endif %} 
{% endblock content %}
