{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %} Sign Up {% endblock title %}

{% block content %}

<div class="d-flex justify-content-center">
    <div class="card mb-3 p-2 w-100">
        <div class="card-header bg-transparent "><h5> Sign Up </h5></div>  
        
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Sign up</button>
                    </div>
                </div>
                    <div class="card-body form-group">
                        <small class="text-muted">
                            Do have an Account? <a class="ml-2" href="{% url 'login' %}">Log In</a>
                        </small>
                    </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
