{% extends '_base.html' %}


{% block content %}


{% if not books %}
<div class="d-flex justify-content-center">
  <h4>There is no book</h4>
 </div>
{% else %}
<div class="d-flex justify-content-center">
<form class="form-inline mt-2 mb-2 mt-md-0 w-100" action="{% url 'search_results' %}" method= 'get'>
    <input name='f' type='hidden' value='book_list' >
    <input name='q' class="form-control mr-sm-2 "  type="text" placeholder='Search book' aria-label='Search'>
</form>
</div>


  {% include '_pagination.html' %}
  {% include '_post_card.html' %}

  {% endif %} 
{% endblock content %}