{% extends '_base.html' %}

{% block title  %} {{book.title}} {% endblock title %}

{% block content %}

    {% include 'post/_post.html' %}      
  

    <div class="card text-bg-light border-light p-4 my-4">

        <label class="mb-2" for="question"><strong>Ask a question from "{{book.title}}"(Powered by openai):</strong> </label>
        <form hx-post="{% url 'ask_question' book.id %}" hx-target="#answer" method="post">
            {% csrf_token %}
            <div class="form-group">
                {% if question %}
                <input class="form-control" id="question" value="{{question}}" name="question" required>
                {% else %}
                <input class="form-control" id="question" value="{{question}}" name="question" required>
                {%endif%}
            </div>
            <button type="submit" class="btn mt-2 mb-4 btn-sm btn-primary">Submit</button>
        </form>

        <div id="answer"></div>  
    </div>
</div>

{% endblock %}