{% extends '_base.html' %}

{% block title  %} {{book.title}} {% endblock title %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ book.cover.url }}" alt="{{ book.name }}" class="img-fluid mb-4">
      
        </div>
        <div class="col-md-8">
          <h3>{{ book.title }}</h3>
          <p><strong>Posted Date:</strong> {{ book.posted_at }}</p>
          <p><strong>Author:</strong> {{ book.author }}</p>
          <p><strong>Genre:</strong> {{ book.genre }}</p>
          <p><strong>Pages:</strong> {{ book.pages }}</p>
          <p><strong>Size:</strong> {{ book.size }}</p>
        </div>
        <div> 
          <h4>Summary:</h4>
          <p>{{ book.summary }}</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">

        <label class="mb-2" for="question"><strong>Ask a question from "{{book.title}}":</strong> </label>
        <form hx-post="{% url 'ask_question' book.id %}" hx-target="#answer" method="post">
            {% csrf_token %}
            <div class="form-group">
                {% if question %}
                <input class="form-control" id="question" value="{{question}}" name="question" required>
                {% else %}
                <input class="form-control" id="question" value="{{question}}" name="question" required>
                {%endif%}
            </div>
            <button type="submit" class="btn mt-2 mb-4 btn-sm btn-primary">Submit</button>
        </form>

        <div id="answer"></div>
            
        </div>
    </div>
</div>

{% endblock %}