{% extends '_base.html' %}

{% block title  %} {{book.title}} {% endblock title %}

{% block content %}

    {% include 'post/_post.html' %}      

    <div class="p-4">
        <h2 class="text-center mb-4">Comments</h2>

        <form style="padding: 0;" hx-post="{% url 'comment' book.id %}" hx-target="#comments" hx-swap="afterbegin" method="post">
          {% csrf_token %}
          <div class="d-flex w-md-75" >
            
            <input
              class="form-control me-4"
              id="comment"
              name="comment"
              placeholder="Comment..."
              required
            />
            
            <button type="submit" class="btn btn-sm btn-primary">
                Post
            </button>
        </div>
          <div class="text-center">
            <div class="spinner-border htmx-indicator" role="status"></div>
          </div>
        </form>
      
        <div id="comments" hx-get="{% url 'comments' book.id %}" hx-trigger="load" hx-swap="innerHTML">
        </div>
      
       
      </div>
      

</div>

{% endblock %}