{% extends "_base.html" %}
{% block content %}
    <div class="d-flex justify-content-center">
        <div class="card mb-3 p-2 w-100">
            <div class="card-header bg-transparent "><h4>Delete Post</h4></div>  
            
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                        <fieldset class="form-group">
                            <legend class=""></legend>
                            <h5>Are you sure you want to delete the post "{{ object.title }}"</h5>
                        </fieldset>
                    </div>
                    <div class="card-body form-group">
                        <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                        <a class="btn btn-outline-secondary" href="{% url 'profile' %}">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

{% endblock content %}
