{% load static %} 
{% for book in books %}
<div class="card text-bg-light border-light mb-2 w-100">
    <div class="card-header text-bg-light border-light d-flex justify-content-between">
      <div>
        {% if book.user.image %}
          <img src="{{book.user.image.url}}" alt="mdo" width="28" height="28" class="rounded-circle">
        {% else %}
          <img src="{% static  'img/user.png' %}" alt="mdo" width="28" height="28" class="rounded-circle">
        {% endif %}
        <a class="px-2 h6 text-muted" style="text-decoration:none" href=" {% url 'profile' book.user.id %}">{{book.user.username}}</a>
        <small class="text-muted"> {{book.posted_at|date:"d/b/Y"}} </small> 
      </div>

      {% if book.user == user %}
      <div class="dropdown">
        <i class="bi bi-three-dots-vertical" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" > </i>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li>
            <a class="dropdown-item" href="{% url 'book_edit' book.id %}">Edit</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'book_delete' book.id %}">Delete</a>
          </li>
            <a id="visibility-toggle{{book.id}}" class="dropdown-item" hx-post="{% url 'book_visibility' book.id %}" hx-target="#visibility-toggle{{book.id}}">     
                {% if book.public %}
                  Private
                {% else %}
                  Public
                {% endif %}
            </a> 
        </ul>
      </div>
      {% elif user.is_authenticated %}
      <a class="text-decoration-none" href="{% url 'save_book' book.id %}"> save </a>
      {% endif %}
    </div>

  <div class="card-body">
    <div class="row g-0">
      <div class="col-4">
        <img class="w-75" src="{{book.cover.url}}" alt="{{book.title}}" />
      </div>
      <div class="col-8">
        <h6 class="card-text text-truncate">
          <a style="text-decoration: none" href="{{book.get_absolute_url}}">{{book.title}}</a>
        </h6>

        {% if book.author %}
        <h6 class="card-text">
          <small class="text-muted">By: {{book.author}} </small>
        </h6>
        {% endif %} 
        <h6 class="card-text">
         <a  class="text-decoration-none" href="{{book.genre.get_absolute_url}}"> {{book.genre}}</a>
        </h6>
        {% if book.pages %}
        <h6 class="card-text">
          <small class="text-muted">pages: {{book.pages}} </small>
        </h6>
        {% endif %}

        <div class="row">
          <div class="col-6">
            <h6 class="card-text">
              <a
                href="{{book.pdf.url}}"
                download
                class="btn btn-success btn-sm bi bi-download"
              >
                {{book.size}}
              </a>
            </h6>
          </div>
      
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %}


