{% load humanize %} 

<div class="card-footer text-bg-transparent border-light">
    <div class="d-flex justify-content-around">
        {% with total_likes=book.users_like.count users_like=book.users_like.all %}    
        <div>
            {% if request.user.is_authenticated %}
                <a style="cursor: pointer;"  id="book-like-{{book.id}}" class="text-decoration-none" hx-traget="#book-like-{{book.id}}" hx-post="{% url 'like' book.id %}">
                    {% if request.user not in users_like %}
                        <i class="bi bi-hand-thumbs-up"></i>
                    {% else %}
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                    {% endif %}
                    <span>{{total_likes|intword|intcomma}}</span>
                </a>
            {% else %}
                {% if request.user not in users_like %}
                    <i class="bi bi-hand-thumbs-up"></i>
                {% else %}
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                {% endif %}
                <span>{{total_likes}}</span>
            {% endif %}

        </div>
        {% endwith %}

        <div>
            <a  class="bi bi-question-square text-primary " href="{{book.get_absolute_url}}"> </a>
        </div>
        <div>
            <input type="url" hidden id="book-{{book.id}}-url" value="{{book.get_absolute_url}}">
            <i style="cursor: pointer;" onclick="shareLink('{{book.id}}')" class="bi bi-share text-primary"></i>
        </div>

    </div>
</div>

<script>
    function shareLink(book_id){
        var url = document.getElementById(`book-${book_id}-url`).value;
        url = document.location.href +url 
        if (url) {
            navigator.clipboard.writeText(url)
                .then(function () {
                    alert("URL copied");
                })
                .catch(function (error) {
                    alert("Failed to copied" + error);
                });
        }
    }
</script>


    
