{% load static %} 

<div class="card-header text-bg-light border-light d-flex justify-content-between">
    <div class="d-flex">
      {% if book.user.image %}
        <img src="{{book.user.image.url}}" alt="mdo" width="32" height="32" class="rounded-circle">
      {% else %}
        <img src="{% static  'img/user.png' %}" alt="mdo" width="32" height="32" class="rounded-circle">
      {% endif %}
      <div class="px-2 lh-1">
        <a class=" h6 text-muted" style="text-decoration:none" href=" {% url 'profile' book.user.id %}">{{book.user.username}}</a>
        <p class="text-muted  small fw-lighter" style="font-size: .75em;">  {{book.posted_at|date:"d/b/Y"}} </p> 
      </div>
    </div>

    {% if book.user == user %}
    <div class="dropdown">
      <i class="bi bi-three-dots-vertical" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" > </i>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
          <a class="dropdown-item" href="{% url 'book_edit' book.id %}">Edit</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'book_delete' book.id %}">Delete</a>
        </li>
          <a id="visibility-toggle{{book.id}}" class="dropdown-item" hx-post="{% url 'book_visibility' book.id %}" hx-target="#visibility-toggle{{book.id}}">     
              {% if book.public %}
                Private
              {% else %}
                Public
              {% endif %}
          </a> 
      </ul>
    </div>
    
    {% endif %}
  </div>